@using ShowcaseProduct.Models
@model ProductFormulaire
@{
    ViewBag.Title = "List Product";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <a asp-area="" asp-controller="Product" asp-action="AddProduct">Add Product</a>
    <div class="col-md-8">
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Galaxies</h4></li>
                @foreach (ProductFormulaire s in ViewBag.listProduct)
                {
                    <li class="collection-item"><a href="#!">@s.Nom</a> </li>
                    <li class="collection-item"><a href="#!">@s.Marque</a> </li>
                    <li class="collection-item"><a href="#!">@s.Image</a> </li>
                    <li class="collection-item"><a href="#!">@s.PrixUniraire<a> </li>
                }

            </ul>
           
        </div>
    </div>

</div>
